body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: "Red Hat Display", sans-serif;
}

.container {
  background-color: hsl(225, 100%, 98%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  text-align: center;
  border: 2px solid hsl(225, 100%, 98%);
  border-radius: 15px;
  overflow: hidden;

}

p{
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}
.summary{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}
.music-image{
    display:inline;
    float: left;


}
.annual{
    color: hsl(223, 47%, 23%);
    display:inline;
    float: left;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
}


.planDiv{
    
    border-radius: 15px;
    font-family: "Red Hat Display", sans-serif;
    clear: both;
    font-size: 0px;
    padding: 20px;
    background-color:  hsl(225, 100%, 94%);
    overflow: hidden;
    margin-bottom: 20px;
}

.text-container{
    padding: 40px;

}
.change{
    float:right;
    font-size: 12px;
    padding-top: 10px;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 700;
}

h1{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

button{
    font-family: "Red Hat Display", sans-serif;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    display: block;
    margin: auto;
    width: 100%;
    padding: 20px;
    display: block;
    border:none;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}
.button:hover{
    background-color: hsl(245, 75%, 52%);
    color: white;
}
